@use '../mixins/mixins' as *;
@use '../vars/vars' as *;

.landing {
  margin-top: 100px;
  padding: 40px 15px;
  border-bottom: 5px dotted #ddd;
  border-top: 5px dotted #ddd;
  .landing-content {
    @include breakPoints(medium) {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    .left, .right {
      flex: 1;
    }
    .left {
      text-align: center;
      .text {
        text-align: left;
        h2 {
          font-size: 45px;
          @include breakPoints(mobile) {
            font-size: 30px;
          }
        }
        p {
          margin: 30px 0;
          font-style: italic;
        }
      }
    }
    .right {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 24px;
      @media (max-width: 990px) {
        margin-top: 25px;
      }
      .text {
        background-color: transparent;
        padding: 0px;
        width: 80%;
        height: 80%;
        @include centering;
        flex-direction: column;
        text-align: center;
        transition: $main-transition;
        h3 {
          margin-bottom: 25px;
          font-size: 22px;
        }
        button {
          display: none;
          transition: $main-transition;
        }
      }
      .box:hover button {
        display: block;
      }
      .box:hover p {
        display: none;
      }
      .box:hover .text {
        background-color: #222;
      }
    }
    .box {
      position: relative;
      img {
        max-width: 100%;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        width: 80%;
      }
      button {
        background: transparent;
        padding: 13px 20px;
        border: 1px solid #fff;
        color: white;
        cursor: pointer;
        transition: $main-transition;
        &:hover {
          color: black;
          background-color: white;
        }
      }
    }
  }
}
